  @media only screen and (max-width: 1920px){
    .container {
        margin-top: 6rem!important;
    }
  }

.margintoLeft{
    margin-left: 56px !important;
    margin-top: 20px !important;
}
.cardLayout{
    background: #fff !important;
    border-radius: 5.5px !important;
    box-shadow: 2px 2px #888888;
}

.text-muted {
  color: #021220!important;
}