@media (min-width: 1200px) {
    .container {
        max-width: 500px;
    }
  }

.loginmargin{
    margin-top: 8rem !important;
    color: white;
    border-radius: 15px;
    background-color: rgba(12,32,116,0.9);
}