<div class="container loginmargin">
  <form #loginForm class="formmargin">
    <h4 class="d-flex justify-content-center" style="padding-top: 14px;">Login</h4>
    <div class="form-group">
      <label for="email">Username:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <div style="padding-bottom: 19px;">
    <button type="submit" class="btn btn-danger" (click)="submitForm()">Submit</button>
  </div>
  </form>
</div>

